extends ./layout/layout

block contents
  h1(style="text-align:center;color:red;padding-top:50px;")= status
  h3(style="text-align:center;padding-top:10px;") 即将跳转

block scripts
  script.
    setTimeout(() => {
      location.href = "/"
    }, 1500)