.blog-panel
  .layui-container
    ul.layui-clear
      
      li
        a(href="") CSS/HTML
      li
        a(href="") JavaScript
      li
        a(href="") Jquery
      li
        a(href="") 生活娱乐
      li
        a(href="") 收藏经典
      
      
    .blog-column-right
      a(href="/article").layui-btn 发表文章